<VirtualHost *:8080>
	<Location />
		Order deny,allow
		Deny from all
		Allow from 127.0.0.1
	</Location>

	ServerAdmin webmaster@localhost

	DocumentRoot /var/www/{{http_host}}

	ErrorLog ${APACHE_LOG_DIR}/error.log

	CostumLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>